<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
    <param-name>LOGGER_PREFIX</param-name>
    <param-value>web:</param-value>
  </context-param>
  <filter>
    <description></description>
    <display-name>ParamFilter</display-name>
    <filter-name>ParamFilter</filter-name>
    <filter-class>hu.neuron.java.filter.ParamFilter</filter-class>
    <init-param>
      <param-name>LOGGER_PREFIX</param-name>
      <param-value>web:ParamFilter:</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ParamFilter</filter-name>
    <url-pattern>/ForwardByParam/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>hu.neuron.java.listener.SessionLivecycleListener</listener-class>
  </listener>
  <listener>
    <listener-class>hu.neuron.java.listener.SessionAttributeListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ForwardWithAttribute</display-name>
    <servlet-name>ForwardWithAttribute</servlet-name>
    <servlet-class>hu.neuron.java.attribute.ForwardWithAttribute</servlet-class>
    <init-param>
      <param-name>LOGGER_PREFIX</param-name>
      <param-value>web:ForwardWithAttribute:</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ForwardToPageServlet</display-name>
    <servlet-name>ForwardToPageServlet</servlet-name>
    <servlet-class>hu.neuron.java.simple.ForwardToPageServlet</servlet-class>
    <init-param>
      <param-name>LOGGER_PREFIX</param-name>
      <param-value>web:ForwardToPageServlet:</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardToPageServlet</servlet-name>
    <url-pattern>/ForwardToPageServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>