<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- scan for spring annotation -->
	<context:component-scan base-package="hu.schonhertz.training" />

	<!-- resolve view name -->
	<!-- eg: hello -> /WEB-INF/jsp/hello.jsp -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://localhost:5432/Blog"></property>
		<property name="username" value="postgres"></property>
		<property name="password" value="pass"></property>
	</bean>
	
	<bean name="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
	
	<bean name="blogJDBCTemplate" class="hu.schonhertz.training.jdbctemplate.BlogJDBCTemplate">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
</beans>
