<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<Appenders>


		<RollingRandomAccessFile name="FILE"
			fileName="logs/server.log" filePattern="logs/$${date:yyyy-MM}/server-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %-5p [%t] %C - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingRandomAccessFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%c{1} - %m%n" />
		</Console>
	</Appenders>

	<Loggers>

		<Root level="debug">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>

</Configuration>